body{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.registration-form{
    width:80%;
    height:80%;
    
}
.lead {
    font-weight: bold;
    margin-left:150px;
    margin-bottom:0;
}
.main-block {
    display:flex;
    width:100%;
    height:100%;
    flex-direction: row;
    flex-wrap: nowrap;
}
.right-line{

    border-right: 1px solid black;
    height:80%;
    width:20%;
    
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    height: 80%;
}

.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type:none;
    height:15%;
    position:relative;
    text-align:center;

}

    .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        border-radius: 50%;
        margin: 20px auto 0 auto;
        background-color: white;
    }

.progressbar li:after{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ddd;
  left: 95px;
  top: -80%;
  z-index: -1;
     
}

.progressbar li:first-child:after {
    content: none;
}


.progressbar li.active {
    color: green;
}

.progressbar li.active:before {
    border-color: green;
}

.progressbar li.active + li:after {
    background-color: green;
}




.field-validation-error {
    color: #b94a48;
    font-weight:bold;
    
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}